/* Color Scheme */

:root {
  --brand-color: #533feb;
  --white: #fff;
  --light-gray: #f0f0f0;
  --gray: #707070;
  --dark: #05050a;

  --background-color: var(--white);
  --background-alt-color: var(--dark);

  --text-color: var(--dark);
  --text-alt-color: var(--gray);

  --heading-font-color: var(--dark);

  --link-color: var(--dark);
  --link-color-hover: var(--brand-color);

  --button-color: var(--white);
  --button-background-color: var(--dark);
  --button-background-hover: var(--brand-color);

  --border-color: var(--light-gray);
  --border-color-alt: #242424;

  --tr-color: var(--light-gray);

  --syntax-highlighting-background: #f3f3f3;
}

:root[dark] {
  --brand-color: #533feb;
  --white: #fff;
  --light-gray: #f0f0f0;
  --dark: #111016;

  --background-color: var(--dark);
  --background-alt-color: #18181d;

  --text-color: #919191; //#7a7a7a;
  --text-alt-color: #7c7c7c;

  --heading-font-color: var(--light-gray);

  --link-color: var(--light-gray);
  --link-color-hover: var(--brand-color);

  --button-color: var(--white);
  --button-background-color: #080b12;
  --button-background-hover: var(--brand-color);

  --border-color: #26262b;
  --border-color-alt: #2f2f33;

  --tr-color: #080b12;

  --syntax-highlighting-background: #080b12;
}